/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #e61c1c;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}
.shopname{
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
}

.logo img {
    height: 70px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.product>img{
    border-radius: 15px;
}
/* Hero section styles */
.hero {
    color: #fff;
    padding: 20px;
    text-align: center;
}
main{
    margin-top: 124px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Products section styles */
.products {
    padding: 40px 0;
    text-align: center;
    margin: auto;
}
.productlist{
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* Align flex lines vertically */
  justify-content: center;
}

.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product {
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 14px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact p {
    font-size: 14px;
    margin-bottom: 5px;
}

.social-media a {
    margin-left: 10px;
}

.social-media img {
    width: 20px;
    height: 20px;
}
/* Products section styles */
.products {
    padding: 40px 0;
    text-align: center;
}

.products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.product {
    margin-bottom: 40px;
}
.contact >p> a{
    color: white;
}
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.map iframe{
    width: 90%;
    height: 450px;
    border: none;
    border-radius: 15px;
}
.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 14px;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
    .products {
        padding: 20px 0;
    }

    .product img {
        width: 350px;
        height: 350px;
    }

    .product h3 {
        font-size: 16px;
    }

    .product p {
        font-size: 12px;
    }
    .product{
        width: 100%;
    }
    header{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/* Responsive styles for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .products {
        padding: 30px 0;
    }

    .product img {
        width: 350px;
        height: 350px;
    }

    .product h3 {
        font-size: 16px;
    }

    .product p {
        font-size: 12px;
    }
}


/* Responsive styles for desktop */
@media (min-width: 1024px) {
    .products {
        padding: 40px 0;
    }

    .product img {
        width: 350px;
        height: 350px;
    }

    .product h3 {
        font-size: 18px;
    }

    .product p {
        font-size: 14px;
    }
}
